/*==================================
FONT FACE
==================================*/

@import url("//hello.myfonts.net/count/31ff25");
  
@font-face {font-family: 'ltpro';src: url('31FF25_0_0.eot');src: url('31FF25_0_0.eot?#iefix') format('embedded-opentype'),url('31FF25_0_0.woff2') format('woff2'),url('31FF25_0_0.woff') format('woff'),url('31FF25_0_0.ttf') format('truetype');}
  
@font-face {font-family: 'din_light';src: url('31FF25_1_0.eot');src: url('31FF25_1_0.eot?#iefix') format('embedded-opentype'),url('31FF25_1_0.woff2') format('woff2'),url('31FF25_1_0.woff') format('woff'),url('31FF25_1_0.ttf') format('truetype');}
  
@font-face {font-family: 'din_medium';src: url('31FF25_2_0.eot');src: url('31FF25_2_0.eot?#iefix') format('embedded-opentype'),url('31FF25_2_0.woff2') format('woff2'),url('31FF25_2_0.woff') format('woff'),url('31FF25_2_0.ttf') format('truetype');}
  
@font-face {font-family: 'din_web';src: url('31FF25_3_0.eot');src: url('31FF25_3_0.eot?#iefix') format('embedded-opentype'),url('31FF25_3_0.woff2') format('woff2'),url('31FF25_3_0.woff') format('woff'),url('31FF25_3_0.ttf') format('truetype');}

/*==================================
GENERAL FONTS
==================================*/

body, p {
	font-family: 'din_web', sans-serif;
  text-shadow: none !important;
}

h1, .headline {
	font-family: 'ltpro', sans-serif;
  text-transform: uppercase;
}

h2 {
	font-family: 'ltpro', sans-serif;
}

h3 {
  font-family: 'ltpro', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h4 {
  font-family: 'ltpro', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

p, h1, h2, h3 {
	color: inherit;
	margin: 0px 0px 20px;
  font-weight: normal;
}

h1, h3 {
	letter-spacing: .1em;
}

// Buttons

a.button, button, input[type="submit"], input[type="reset"], input[type="button"], .action_button, a.action_button, input.action_button[type="submit"], input.action_button[type="button"], .share-button, .shopify-payment-button__button.shopify-payment-button__button--unbranded {
  font-family: 'din_web', sans-serif !important;
}

/*==================================
ADDITIONAL THEME FONT ADJUSTMENTS
==================================*/

.collection_title, .headline, .subtitle p, .empty_cart, .promo_banner {
  font-family: 'ltpro', sans-serif;
}