/*================
MEDIA QUERIES
================*/

@mixin mobile() {
	@media all and (max-width: 480px){
		@content;
	}
}

@mixin mobile_landscape() {
	@media all and (max-width: 568px) {
		@content;
	}
}

@mixin tablet() {
	@media all and (max-width: 768px){
		@content;
	}
}

@mixin above_tablet() {
	@media all and (min-width: 767px) {
		@content;
	}
}

@mixin tablet_landscape() {
	@media all and (max-width: 1024px){
		@content;
	}
}

@mixin small_laptop() {
	@media all and (max-width: 1100px){
		@content;
	}
}

@mixin laptop() {
	@media all and (max-width: 1200px){
		@content;
	}
}

@mixin desktop() {
	@media all and (min-width: 1280px){
		@content;
	}
}

@mixin large_desktop() {
	@media all and (min-width: 1800px){
		@content;
	}
}

/*================
OVERLAY
================*/

@mixin overlay($background) {
  content: "";
  position: absolute;
  background: $background;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

/*================
CENTERED CONTENT CONTAINER
Center content horizontally and vertically in div.
================*/

@mixin content_container($horizontal_position, $vertical_position) {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: $horizontal_position;
    align-items: $vertical_position;
}

/*================
SCROLLBAR
================*/

@mixin scrollbar() {
	&::-webkit-scrollbar {
	    width: 5px;
	}
	 
	&::-webkit-scrollbar-track {
	    background: rgba(255,255,255,.2); 
	}
	 
	&::-webkit-scrollbar-thumb {
	    background: $teal;  
	}
}