/*================
STRUCTURE
================*/

// Body

body {
    background-color: $white;
}

// Containers

.jc_container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.jc_container.small {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/*================
Responsive Grid Adjustments
---
Theme changes to 300px width on tablet devices.
================*/

.container {
    @include tablet {
        width: 90%;
    }
}

.container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    @include tablet {
        width: 100%;
    }
}

/*==================================
Custom Grid
==================================*/

.jc_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -7.5px;
    box-sizing: border-box;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 15px;
    padding: 0px 7.5px;
    box-sizing: border-box;

	img {
		display: block;
	}
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}
