<div class="footer">

  <div class="footer_top">
    <div class="jc_container small">
      <h2>Sign up to get the latest on sales, new releases and more…</h2>
      <div class="mc_embed_signup">
        <form action="https://jimmychin.us19.list-manage.com/subscribe/post-json?u=810d104b082618c08fa4ab33f&amp;id=16ea901466&c=?" method="post" name="mc-embedded-subscribe-form" class="validate mc-embedded-subscribe-form jc_mailchimp_form" novalidate>
          <input type="email" value="" name="EMAIL" placeholder="Email" class="required email" id="mce-EMAIL"><input type="submit" value="Submit" name="submit" id="mc-embedded-subscribe" class="button">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bfaeb9f9cfe94bf88ebe82105_58d7ecad1c" tabindex="-1" value=""></div>
        </form>
        <div class="mce-responses" class="clear">
          <div class="response mce-error-response" style="display:none"></div>
          <div class="response mce-success-response" style="display:none"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer_bottom">
    <div class="footer_bottom_left">
      <span class="footer_line line_left"></span>
      <div class="js-social-icons">
        {% include 'social-icons' %}
      </div>
    </div>
    <div class="footer_bottom_right">
      <ul class="footer_menu">
        {% for link in linklists[section.settings.footer_linklist_1].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% for sub_link in link.links %}
            <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
      <span class="footer_line line_right"></span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer-template-section",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_linklist_1",
      "label": "Menu",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text",
      "default": "<p>Sign up to get the latest on sales, new releases and more…</p>"
    },
    {
      "type": "checkbox",
      "id": "footer_newsletter",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "footer_social_icons",
      "label": "Show social media icons",
      "default": true
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "richtext",
      "id": "footer_content_left",
      "label": "Left column text"
    },
    {
      "type": "richtext",
      "id": "footer_content_right",
      "label": "Right column text"
    },
    {
      "type": "header",
      "content": "Scripts"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Custom HTML"
    }
  ]
}
{% endschema %}
