<div class="social-icons clearfix">
  {% if settings.twitter_link != '' %}
    <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  {% endif %}

  {% if settings.facebook_link != '' %}
    <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
  {% endif %}

  {% if settings.google_link != '' %}
    <a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="ss-icon" rel="publisher" target="_blank">
      <i class="fab fa-google"></i>
    </a>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-vimeo"></i>
    </a>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-pinterest"></i>
    </a>
  {% endif %}

  {% if settings.tumblr_link != '' %}
    <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-tumblr"></i>
    </a>
  {% endif %}

  {% if settings.instagram_link != '' %}
    <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  {% endif %}

  {% if settings.flickr_link != '' %}
    <a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-flickr"></i>
    </a>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <a href="{{ settings.houzz_link }}" title="{{ shop.name }} on Houzz" class="ss-icon" rel="me" target="_blank">
      <span class="icon-houzz"></span>
    </a>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <a href="{{ settings.snapchat_link }}" title="{{ shop.name }} on Snapchat" class="ss-icon" rel="me" target="_blank">
      <i class="fab fa-snapchat-ghost"></i>
    </a>
  {% endif %}

  {% if settings.email_link != '' %}
    <a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" class="ss-icon" target="_blank">
      <i class="fal fa-envelope"></i>
    </a>
  {% endif %}
</div>
