/*================
Breadcrumbs
---
Some arrows are used in the theme. This CSS converts the
arrows to slashes to stay consistent with branding.
================*/

.breadcrumb .icon-arrow-right {
    font-size: 14px;
    position: relative;
    top: -1px;
}

.breadcrumb .icon-arrow-right:before {
    content: "/";
}

/*================
Featured Divider
================*/

.feature_divider {
    border: solid .5px;
    display: block;
    width: 30px;
    margin: 15px auto 30px;
    border-color: #363636;
}

/*================
Buttons
================*/

a.button, button, input[type="submit"], input[type="reset"], input[type="button"], .action_button, a.action_button, input.action_button[type="submit"], input.action_button[type="button"], .share-button, .shopify-payment-button__button.shopify-payment-button__button--unbranded {
    border-radius: 0;
}

#cart .action_button:hover {
    background: $red;
}

#cart a.action_button.edit_cart:hover {
    background: $black;
}

/*================
Quick Shop
================*/

.thumbnail .quick_shop:hover {
    color: $red;
}

/*================
Parallax Background
================*/

.parallax-banner .bcg {
    background-position: top !important;
}