/*================
STRUCTURE
================*/

// Structure

.footer {
    margin-top: 2.5em;
    padding: 0;
    border-top: 0;
    background-color: transparent;
    color: $white;
}

/*================
FOOTER TOP
================*/

.footer_top {
    background: $white;
    color: $black;
    padding: 100px 0;
    border-top: 1px solid $black;
    
    @include mobile_landscape {
        padding: 50px 0;
    }
}

// Mailchimp Signup Form

.jc_mailchimp_form {
    display: flex;
    flex-flow: row wrap;
}

.jc_mailchimp_form input[type="email"] {
    width: 80%;
    margin-bottom: 0;
    
    @include tablet {
        width: 100%;
        margin-bottom: 10px;
    }
}

.jc_mailchimp_form input[type="submit"] {
    width: 20%;
    
    @include tablet {
        width: 100%;
    }
}

/*================
FOOTER BOTTOM
================*/

.footer_bottom {
    background: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.footer_line {
    width: 40px;
    height: 1px;
    display: inline-block;
    background: $white;
    margin-top: -3px;
    
    @include tablet {
        display: none;
    }
}

// Left

.footer_bottom_left {
    display: flex;
    align-items: center;
    
    @include tablet {
        width: 100%;
        padding: 0 10px;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.footer_bottom .social-icons {
    text-align: center;
    margin-bottom: 0;
}

.footer a.ss-icon, h3 {
    font-size: 18px;
    line-height: 18px;
    margin: 0 30px 0 0;
    
    @include tablet {
        margin: 0 20px;
    }
}

.footer_line.line_left {
    margin-right: 20px;
}

// Right

.footer_bottom_right {
    display: flex;
    align-items: center;
    
    @include tablet {
        width: 100%;
        justify-content: center;
        padding: 0 20px;
    }
}

.footer_bottom_right p {
    margin-bottom: 0;
}

.footer_line.line_right {
    margin-left: 20px;
}

/*==================================
Footer Menu
==================================*/

ul.footer_menu {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

ul.footer_menu li {
    display: inline-block;
    font-family: din_web;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px !important;
    line-height: 12px !important;
    display: flex;
    padding-right: 0;
    margin-bottom: 0;
    
    @include mobile_landscape {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
}

ul.footer_menu li:last-child:after {
    content: '';
    padding: 0px;
}

ul.footer_menu li:after {
    content: '/';
    padding: 0px 10px;
    top: 2px;
    position: relative;
    
    @include mobile_landscape {
        display: none;
    }
}

/*=== Menu Item Strikethrough ===*/

ul.footer_menu li a {
    position: relative;
    font-size: inherit !important;
    line-height: inherit !important;
    margin-bottom: 0 !important;
}

ul.footer_menu li a:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 100%;
    height: 1px;
    background: $white;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

ul.footer_menu li a:hover:after {
    transform: scaleX(1);
}