/*================
Search Form
================*/

// Inline Search

.section_select.inline-search-form {
    justify-content: flex-end;
    text-align: right;
    display: flex;

    @include tablet {
        justify-content: center;
    }
}

.inline-search-form form {
    position: relative;
    width: 65%;
    margin-bottom: 0;

    @include tablet {
        width: 100%;
    }
}

// Overlay Search

#search form input {
    height: 60px;
    border: solid 1px #8a898a;
    padding-left: 55px;
    font-size: 18px;
}

#search .search-submit {
    top: 56px;
}

#search .search-submit:before {
    font-size: 18px;
}

#search .div.search-close {
    top: 49px;
}

// Text Input

.inline-search-form form input[type="text"] {
    -webkit-appearance: none;
}

// Submit Button

.inline-search-form button {
    background: 0;
    color: $black;
    position: absolute;
    top: 11px;
    right: 11px;
    padding: 0;
}

/*================
Tag Filter
================*/

.section_select.collection-filter-select {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

#tag_filter, #sort-by {
    margin-bottom: 0 !important;
    text-transform: capitalize;
    padding: 0 25px 0 10px;
}

/*================
Inputs
================*/

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="range"], input[type="color"], select, textarea {
    border-radius: 0;
    font-family: 'din_web';

    &::placeholder {
        color: #5f6a7d;
    }
}

select {
    border-radius: 0;
}