/*================
MAIN HEADER
================*/

// Structure

.header .container {
    display: flex;
    align-items: center;
}

.header-section .header_bar {
    background: $black;
}

// Logo

.header .container .logo img {
    width: 50px;
}

// Cart Icon

.icon-cart::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon-cart::before {
    font-family: "Font Awesome 5 Pro"; 
    font-weight: 300; 
    content: "\f07a";
}

/*================
Navigation
================*/

// Navigation

.nav a, .nav a:visited, .nav a:active, #header a span, .nav a.cart-button span, select.currencies {
    font-family: 'din_web';
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: normal;
    text-shadow: none !important;
}

.nav a {
    padding: 10px;
}

#nav a, #nav span, #nav li select.currencies {
    font-family: 'din_web';
}

.menu ul a, .menu li:hover>ul a, .header .nav ul.menu ul li a {
    padding: 8px;
    line-height: 20px;
}

// Submenu

.dropdown-links {
    padding-bottom: 0;
    background: rgba(0,0,0,1);
}

/*================
Mobile Header
================*/

#header.mobile-header {
    background: $black;
    border-bottom: 0;
}

.mm-menu.mm-theme-black .mm-search input {
    background: $white;
    color: rgba(255,255,255,0.6);
}

.mm-menu.mm-theme-black .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview>li.mm-selected>span {
    background: $black;
}

/*================
Flyout Navbar
================*/

.mm-navbar .social-icons a {
    margin: 10px;
}