/*================
General Product Thumbnail
================*/

.product-thumbnail__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($red, .5);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.product-thumbnail:hover .product-thumbnail__overlay {
    opacity: 1;
}

/*================
Masonry Product Grid
================*/

// Item

.masonry-grid__item {
    width: calc( ( 100% - 10px ) / 3 );
    margin-bottom: 5px;

    @include tablet {
        width: calc( ( 100% - 5px ) / 2 );
    }
}

.masonry-grid__item img {
    width: 100%;
    display: block;
}

// Hide Info and Quick Shop

.masonry-grid__item .info, .masonry-grid__item .quick_shop {
    display: none;
}